*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 5.7fr 0.5fr;
}

input{
    border-width: 3px;
    margin: 30px;
    cursor: pointer;
}

.game{
    display: grid;
    grid-template-rows: 0.1fr 3fr 2fr;
}

.options{
    display: flex;
    margin-left: 20vw;
}

.options img{
    border-radius: 100%;
    height: 20vw;
    cursor: pointer;
}

.options img:hover{
    transition: all 0.5s;
    height: 22vw;
}

.score button{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    font-size: 2vw;
    background-image: linear-gradient(90deg, blue, white);
    border-width: 0px;
    margin: 1vw ;
}

footer{
    background-color: rgb(36, 41, 47) ;
    text-align: center;
    color: white;
    box-shadow: 5px -2px 8px black, -10px -4px 8px grey, -15px -2px 8px black;
}

footer img{
    height: 4vw;
}

header{
    display: flex;
    justify-content: space-around;
    box-shadow: -5px 5px 8px black, 10px 4px 8px grey, 15px 5px 8px black;
    text-align: center;
    font-size: 3vw;
    background-color: black;
    color: white;
}

main{
    background-image: url(./images/background.jpg);
}

p{
    color: red;
    font-size: 5vw;
    font-weight: bolder;
}

header button{
    width: 25vw;
    height: 5vw;
    border-radius: 100px;
    background-color: rgb(0, 173, 239);
    font-size: 2vw;
    border-width: 0px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 2vh;
    margin-left: 2.5vw;
    color: white;
    visibility: hidden;
    background-image: linear-gradient(90deg,rgb(2, 139, 243),rgb(188, 59, 59));
    transition: all 1s;
}

header button:hover{
    height: 6vw;
    width: 27vw;
}

.header button{
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.game-end button{
    transition: all 1s;
    position: relative;
    bottom: 15vw;
    width: 25vw;
    height: 25vw;
    font-size: 4vw;
}